@import "./style/font";

//general

*{
    box-sizing: border-box;
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

button{
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.back-sign{
    position: absolute;
    position: fixed; 
    top: 90%; 
    left: 50%; 
    transform: translate(-50%); 
    background-color: white;
    color: black;
    border-radius: 50%;
    width: 60px; 
    height: 60px;
    font-size: 40px;
    font-family: "VG5000"; 
    text-decoration: none; 
}  

.back-sign-black {
    background-color: black;
    color: white;
}

ul{
    list-style-type: none; 
}
//white pages

.main-nav {
    font-family: "VG5000"; 
    color: black; 
    font-size: 28px;
    width: 250px; 
    position: fixed; 
    top : 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 

    @media screen and (min-width: 768px){
        width:500px; 
        font-size: 55px;  
        top: 55%; 
    } 

    li{
        position:relative; 
        @media screen and (min-width: 768px){
            padding-left: 10px;
        }
        div{
            top: 50%
        }
        a{
            color: black; 
            text-decoration: none; 
        }
    }

    li:hover {
        background-color: black ;
        cursor: pointer;
        a{
            color: white;
        }  
    } 
}   

.contacts-nav{
        width: 200px; 
        @media screen and (min-width: 768px){
            width: 350px; 
        }
    }


// running texts

.running-text{
    width: 100%;
    background-color:white;
    position: fixed;
    height: 45px;
    z-index: 2;
    color: black;
    font-family: "VG5000"; 
    font-size: 40px; 
    text-transform: uppercase;
    vertical-align: center;
    @media screen and (min-width: 768px){ 
        height: 60px;
        font-size: 50px; 
    }
}

.running-text-contacts{
    background-color: black;
    color: white;
}
//make it a marquee
.marquee{
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 10s linear infinite;
}

// make it move
@keyframes marquee {
    0%   { text-indent: 0em }
    100% { text-indent: -50em }
}
//credits

.credits{
    color: black;
    font-family: "VG5000"; 
    font-size: 13px;   
    position: fixed;
    text-decoration:none;
    bottom:1%; 
    right: 1%;
    writing-mode: vertical-rl;
    a{
        color:inherit; 
        text-decoration: none;
    }
    
}

//page container 

.page-container {
    background-color: black;
    height: 100vh;
    @media screen and (min-width: 768px){
        padding-left: 50%; 
    }

    .fixed-menu {
        text-transform: uppercase;
        background-color: black;
        font-family: "VG5000"; 
        color: white; 
        padding-top: 10%; 
        padding-left: 3%;
        display: none;
        position: fixed;
        top:0; 
        left:0;
        width:100%;
        height:100vh;
        font-size: 25px; 
        @media screen and (min-width: 768px){
            display: block; 
            width:50%;  
        }

        li{ 
            height: 60px;
            a{ 
                text-decoration: none;
                color:white;
            }
            a:hover{
                background-color: white;
                color:black; 
            }
        }         
    }
    
    //content container 

    .content-container {
        background-color: black;
        font-size: 16px;
        color: white; 
        padding-right: 5%; 
        padding-left: 5%;
        @media screen and (min-width: 768px){
            font-size: 18px;  
        }

        .coming-soon {
            font-family: "VG5000";
            color: white; 
            font-size: 70px;
        }
        p{
            font-family: "spaceGrotesk"; 
            font-weight: 300;
            line-height: 150%; 
        }

        .title{
            text-transform: uppercase;
            font-family: "VG5000"; 
            font-size: 28px; 
            padding-bottom: 3%;
            @media screen and (min-width: 768px){
                font-size: 32px;
            }
        }

        .subtitle{
            font-family: "VG5000"; 
            display: flex; 
            justify-content: space-between;
            font-size: 20px; 
            padding-top: 2%;
            padding-bottom: 2%;
            @media screen and (min-width: 768px){
                font-size: 25px;
            }
        }

        .download-area{
            font-family: "VG5000"; 
            display: flex; 
            justify-content: space-between;
            padding-top: 2%;
            .download-links{
                color: white; 
                font-size: 18px;
                text-decoration: none; 
                text-transform: uppercase;
                border: solid white 1px; 
                border-radius : 30px;
                padding: 5px 10px 5px 10px;
                @media screen and (min-width: 768px){
                    font-size: 20px;
                }
            }
            .download-links:hover {
                color: black;
                background-color: white;
            } 
        }

        //skills section 
        .skills-subtitle{
            font-family: "VG5000"; 
            text-transform: uppercase;
            font-size: 22px; 
            padding-top: 2%;
            margin-top: 5%; 
            @media screen and (min-width: 768px){
            font-size: 25px;
            }
        }

        .skills-container {
            width: 95%;
            height: 80%; 
            font-family: "spaceGrotesk";
            font-weight: 300; 
            font-size: 16px; 
            color:white;
            line-height: 150%;
            @media screen and (min-width: 768px){
                font-size: 18px;
            }
        } 

        //languages section   
        .languages-subtitle{
            font-family: "VG5000";
            display:flex;
            text-transform: uppercase;
            font-size: 22px; 
            padding-top: 2%;
            padding-bottom: 2%;
            justify-content: space-between;
            @media screen and (min-width: 768px){
                font-size: 25px;
            }

            .language-level{
                text-transform: capitalize;
                font-family: "SpaceGrotesk";
                font-size: 16px;
                @media screen and (min-width: 768px){
                    font-size: 18px;
                }
            } 
        }

        //education, experience, residencies
        .flex-container{
            display: flex; 
            font-size: 18px;
            line-height: 150%; 
            justify-content: space-between;
            padding: 5% 0;
            font-family: "VG5000";
            @media screen and (min-width: 768px){
                font-size: 20px;
            }
            .flex-date{
                width: 15%; 
                text-align: left; 
            }  
        
            .flex-place{ 
                width: 15%;
                text-align: right; 
            }
            .central-part{
                width: 70%; 
                .central-title{
                    font-size: 22px; 
                    text-transform: uppercase;
                    @media screen and (min-width: 768px){
                        font-size: 25px;
                    }
                    a{
                        color: white; 
                        text-decoration: none;
                    } 
                    a:hover {
                        color: black;
                        background-color: white; 
                    }
                }  
                .central-subtitle{
                    font-size: 16px; 
                    font-family: "spaceGrotesk";
                    font-weight: 700; 
                    @media screen and (min-width: 768px){
                        font-weight: 700; 
                        font-size: 18px;
                    }
                }
                .central-description{
                    font-size: 16px; 
                    font-weight: 300; 
                    font-family: "spaceGrotesk";
                    @media screen and (min-width: 768px){
                        font-size: 18px;
                    }  
                }  
            }
        }

        //contacts

        .contacts{
            font-family: "VG5000";
            font-size: 22px; 
            padding-top: 2%;
            padding-bottom: 2%;
            @media screen and (min-width: 768px){
                font-size: 25px;
            }

            li{ 
                padding-top: 2%;
                padding-bottom: 2%;
                a{ 
                    text-decoration: none;
                    color:white;
                }
                a:hover{
                    background-color: white;
                    color:black; 
                }
            }    
 
        }

        
        //images
        img {
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-top: 5%;
            margin-bottom: 5%;
            width: 100%; 
            @media screen and (min-width: 768px){
                filter: grayscale(1); 
            } 
    
        }

        img:hover {
            filter: grayscale(0);
        }

        .image-caption{
            color: white; 
            font-size: 10px;
            writing-mode: vertical-rl;
            text-orientation: mixed;
            margin-top: 5%;
            margin-bottom: 5%;
            @media screen and (min-width: 768px){
                font-size: 12px;
            }
        }

        .div-image{
            display: flex; 
            width: 100%; 
        }

        //padding sections

       section {
            padding-top: 21%;   
        }

        #thtlalit, #modulor, #ResidenciesAwards, #hackerFlix {
            padding-bottom: 22%;
        }

        .info-links{
            color: white; 
            text-decoration: none; 
            font-weight: 300; 
            font-family: "spaceGrotesk"; 
        }

        .info-links:hover {
            background-color: white;
            color: black; 
        }

    }  
}