@font-face{
    font-family: "spaceGrotesk";
    src: url(./static/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "VG5000";
    src: url(./static/fonts/VG5000/VG5000-Regular_web.ttf);
    font-weight: normal;
    font-style: normal;
}


