@font-face{
    font-family: "spaceGrotesk";
    src: url(./static/fonts/Space_Grotesk/SpaceGrotesk-VariableFont_wght.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "terminalGrotesque";
    src: url(./static/fonts/Terminal-Grotesque-master/terminal-grotesque.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: "terminalGrotesqueOpen";
    src: url(./static/fonts/Terminal-Grotesque-master/terminal-grotesque_open.otf);
    font-weight: normal;
    font-style: normal;
}

